@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lato:wght@300&display=swap');

.modalQ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-contentQ {
    width: 1000px;
    justify-content: center;
    align-items: center;
    /* background-image: url('../../public/imagenes/aztec_border.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; */

    background-color: burlywood;
    border: 10px solid black;

    border-image-source: url('../../public/imagenes/fondo_azteca.jpg');
    border-image-slice: 50;
    border-image-repeat: round;
    border-width: 15px;

    padding: 20px;
    display: inline-block;
}

.topDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.bottomDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.optionButtom {
    width: 48%;
    height: 80px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    flex-basis: 48%;
    margin: 1%;
    align-self: center;
    background-position: center;
    background-size: cover;
    align-self: auto;
    align-self: center;
    align-self: auto;
    text-align: center;
    text-size-adjust: auto;
    font-size: 30px;
    font-family: fantasy;
    -webkit-text-stroke: 1px white;
    /* width and color */
    cursor: pointer;
}

.pregunta {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.preguntas {
    display: none;
}

.resultado {
    display: none;
    justify-content: center;
}

.final {
    display: none;
}

.textoEvaluar {
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
}

.temas {
    width: 100%;
}

.opcionRespuesta {
    width: 48%;
    height: auto;
    padding: 1%;
    margin: 1%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    /* border-style: ; */
    /* margin-bottom: 20px; */
    background-image: url('../../public/imagenes/opcionRespuesta.jpg');
    cursor: pointer;
}

.opciones {
    display: flex;
    flex-wrap: wrap;
}

.puntajes {
    display: none;
}

.usuario {
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

.aciertosQuiz {
    width: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

.fallosQuiz {
    width: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

.textoTemaEvaluar {
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
}

.imagenResultado {
    /* width: 100%; */
    height: 100px;
    margin-bottom: 20px;
}

.textoResultado {
    width: 100%;
    text-align: center;
    font-size: 40px;
    /* font-family: 'Ambystoma Mexicanum', sans-serif; */
}

.imagenFinal {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    align-self: center;
    justify-self: center;
    border-radius: 10%;
}

.buttonCerrarQ {
    background-color: #4ca2db;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.instruccionesQ {
    width: 390px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 4px;
}